# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# local data store (used when MySQL is not configured)
/data

# misc
.DS_Store
*.pem
npm-debug.log*

# env files
.env
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts
